<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="no-img">
        <img src="/images/viejano.jpg">
      </div>
    </div>
    <div id="text-no" class="col-md-6">
      <h1>Tienes que estar logueado para poder acceder a esta página.</h1>
      Click <a href="/auth/login">aqui</a> para entrar o <a href="/auth/signup">aqui</a> para crear una cuenta.
    </div>
  </div>
</div>