<div class="container">
    <h1>Hola {{user.username}}</h1>
    <div class="col-md-3">
        <img src="../{{user.profilePic.path}}" alt="{{user.profilePic.originalName}}">
        <a href="/recipes/add">Crear receta</a>
    </div>


    
</div>