<div class="comment">
  <div class="comment-photo">
    <img src="../../{{authorId.profilePic.path}}" alt="{{authorId.profilePic.originalName}}">
  </div>
  <div class="comment-text">
    <p>{{content}}</p>
    <p>-por {{authorId.username}}-</p>
  </div>
</div>