<p>Bienvenido 
    {{#if user}}
        {{user.username}}
    {{/if}}
    {{#unless user}}
        invitado, para acceder a cada receta, debes estar registrado...
    {{/unless}}
    </p>
<div id="all-recipes" class="col-md-9">
  <h2>Todas las recetas</h2>
  <div id="recipes">
      {{#each recipes}}
      <div class="recipe-small">
        <a href="/recipes/oneRecipe/{{this._id}}">{{> recipePartial this}}</a>
      </div>
      {{/each}}
  </div>
</div>
