<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="all-recipes" class="col-md-9">
  <h2>Todas las recetas</h2>
  {{#each recipes}}
  <div class="recipe-small col-md-4">
    <a href="/recipes/oneRecipe/{{this._id}}">{{> recipePartial this}}</a>
  </div>
  {{/each}}
</div>
