<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<<<<<<< HEAD
 {{#each recipes}}
  <a href="/recipes/oneRecipe/{{this._id}}">{{> recipePartial this}}</a>
 {{/each}}
=======


>>>>>>> 3b948c906f2a9b8f616152eb43549f94bbf0223a
