<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Sign up</a>
    </div>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
