.recipe-big-photo{
  width: 300px;
}

.beer{
  display: flex;
  flex-direction: column;
  align-items: center;
  #img-party{
    display: flex;
    .img-beer{
      width: 70px;
    }
    .img-vieja{
      width: 200px;
    }
  }
}