#profile-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  button{
    width:200px;
    margin-top: 10px;
  }
  #profile-pic {
    width: 200px;
    height: 200px;
    img {
      border-radius: 100%;
      border: 2px dashed gray;
      width: 100%;
      height: 100%;
    }
  }
}

#all-recipes {
  #recipes {
    display: flex;
    flex-wrap: nowrap;
    .recipe-small{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        text-align: center;
        
        .recipe-photo {
          width: 150px;
          height: 150px;
          margin: 0 auto;
          img{
            height: 100%;
          }
        }
        .recipe {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
        }
      }
      .buttons{
        display: flex;
      }
    }
    h3 {
      font-size: 1.2em;
    }
  }
}